{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if app.request.attributes.get('_route') == 'app_admin_article_edit' %}
        <h2>Images</h2>
        {% for image in article.images  %}
            <img src="{{ asset('/uploads/'~image.name) }}" alt="image" width="150">

            <a href="{{ path('article_delete_image', {'id': image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
        {% endfor %}
    {% endif %}

    <button class="btn btn-primary">{{ button_label|default('Ajouter une activité') }}</button>

    <button class="btn btn-primary" id="home-article"  name="END" value="END"  >{{ button_label|default("Terminer l'ajout d'article") }}</button>

{{ form_end(form) }}
{% block javascripts %}
    <script src="{{ asset('js/imagesAjax.js') }}"></script>
{% endblock %}