{% extends 'admin.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('admin_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_article_index') }}">back to list</a>

    {{ include('admin_article/_delete_form.html.twig') }}

{% endblock %}
