{% extends 'admin.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Create new Article</h1>

    {{ include('admin_article/_form.html.twig') }}

    <a href="{{ path('app_admin_article_index') }}">Retour a l'index des articles</a>


{% endblock %}
