@mixin box-shadow {
  -webkit-box-shadow: 10px 15px 15px -6px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 15px 15px -6px rgba(0, 0, 0, 0.52);
  box-shadow: 10px 15px 15px -6px rgba(0, 0, 0, 0.52);
}



@mixin box-shadow-header {
  box-shadow: 0px 9px 7px -3px rgba(0,0,0,0.27);
-webkit-box-shadow: 0px 9px 7px -3px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 9px 7px -3px rgba(0,0,0,0.27);
}

@mixin glassmorphism {
  background: rgba(0, 66, 97, 0.701);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  border: rgba(0, 66, 97, 0.23);
}

@mixin title {
  font-family: "Noto Serif Display", serif;
  font-weight: normal;
}

@mixin text {
  font-family: "Hind Madurai", sans-serif;
  font-weight: normal;
}

@mixin opacity {
  background-color: $primary-color;
  opacity: 0.7;
}

@mixin button {
  font-family: "Hind Madurai", sans-serif;
  background-color: none;
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
  margin: 10px;
  padding: 3% 10%;
  border-radius: 10px;
  border: none;
  background-color: $fiver-color;
  color: $quartery-color;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin absolute_backgroud {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

@mixin relative {
  position: relative;
  z-index: 10;
}


@mixin title {
  font-family: 'Noto Serif Display', serif;
  font-weight: normal;
}



