/**
* variables for all site
*/

$primary-color: #004261; 
$secondary-color : #006595; 
$tertiary-color :#F9ECE4; 
$quartery-color : #1D0303; 
$fiver-color : #FEFCFC; 
$black-color: #000000; 
$blue-light : #43AFE0; 
$blue-light-transparency : #43AFE0EE; 


