{% extends 'admin.html.twig' %}

{% block title %} Édition des paramètres du site{% endblock %}

{% block body %}
    <h1>Édition des paramètre du site</h1>

    {{ include('admin_general_setting/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_general_setting_index') }}">back to list</a>

    {{ include('admin_general_setting/_delete_form.html.twig') }}
{% endblock %}
