{% extends 'admin.html.twig' %}

{% block title %}GeneralSetting index{% endblock %}

{% block body %}
    <h1>GeneralSetting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>WebsiteTitle</th>
                <th>Logo</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for general_setting in general_settings %}
            <tr>
                <td>{{ general_setting.id }}</td>
                <td>{{ general_setting.WebsiteTitle }}</td>
                <td>{{ general_setting.Logo }}</td>
                <td>{{ general_setting.description }}</td>
                <td>{{ general_setting.createdAt ? general_setting.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ general_setting.UpdateAt ? general_setting.UpdateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_general_setting_show', {'id': general_setting.id}) }}">show</a>
                    <a href="{{ path('app_admin_general_setting_edit', {'id': general_setting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_general_setting_new') }}">Create new</a>
{% endblock %}
