{% extends 'admin.html.twig' %}

{% block title %}New GeneralSetting{% endblock %}

{% block body %}
    <h1>Create new GeneralSetting</h1>

    {{ include('admin_general_setting/_form.html.twig') }}

    <a href="{{ path('app_admin_general_setting_index') }}">back to list</a>
{% endblock %}
