{% extends 'admin.html.twig' %}

{% block title %}GeneralSetting{% endblock %}

{% block body %}
    <h1>GeneralSetting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ general_setting.id }}</td>
            </tr>
            <tr>
                <th>WebsiteTitle</th>
                <td>{{ general_setting.WebsiteTitle }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ general_setting.Logo }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ general_setting.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ general_setting.createdAt ? general_setting.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ general_setting.UpdateAt ? general_setting.UpdateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_general_setting_index') }}">back to list</a>

    <a href="{{ path('app_admin_general_setting_edit', {'id': general_setting.id}) }}">edit</a>

    {{ include('admin_general_setting/_delete_form.html.twig') }}
{% endblock %}
