{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="main">
<div class="main__container__wrapper">

        <section class="form__container">
                <img src="{{ asset('img/pexels-lukas-hartmann-1557652.jpg') }}" alt="">
                <div class="form-inscription" >
                        <h1>inscription</h1>
                        {{ form_start(registrationForm) }}
                        {{ form_widget(registrationForm) }}
                        <button class="btn">{{ button_label|default('Save') }}</button>
                        {{ form_end(registrationForm) }}
                </div>
        </section>
    <h3 class="title title_level_3 color_white">Ils sont déja inscrit</h3>
    <section class="card_row">

        {% for user in users |slice(0, 3)  %}
            <div class="card_member" style="margin: 0px 5px">
                <figure>
                    {% if user.usersProfile.avatar %}
                        <img src="{{  vich_uploader_asset( users_profile , 'avatarFile') }}" alt="" srcset="">

                    {% else %}
                        <img src="https://i.pravatar.cc/300" alt="" srcset="">

                    {% endif %}

                    <figcaption>{{ user.firstname }}</figcaption>
                </figure>
            </div>
        {% endfor %}


    </section>

</div>
</div>






{% endblock %}
