{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <div class="main__container__wrapper">
            <section class="hero__container">
                <article class="hero-content">
                    <h1 class="title title_level_1">{{ controller_name  }}</h1>
                    <p class="paragraph">{{ generalSettings.CarnetsContent |raw }}</p>
                </article>
            </section>

            <section class="galery__article">
            {% if carnet_voyages %}
                {% for carnet in carnet_voyages  %}
                    <div class="archive__card">
                        <img class="background_absolute" src="{{  vich_uploader_asset(carnet, 'imageFile') }}" alt="">
                        <div class="card_archive_content">
                            <h3 class="title title_level_3">{{ carnet.title }}</h3>
                            <small class="paragraph"></small>
                            <p class="paragraph">{{ carnet.content|u.truncate(30)|raw }} ...</p>
                            <button><a href="{{ path('carnet_show', {'id': carnet.id}) }}"> lire la suite  </a>  </button>
                            <div class="info_article">
                                <small> ecrit par <strong>{{ carnet.users.pseudo }}</strong> </small>
                                <small>{{ carnet.updateAt|date('d/m/Y') }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <span class="paragraph paragraph__bold">Pas de Carnet de voyage disponible</span>
                    <button><a href="{{ path('main') }}"> Retour a l'accueil</a>  </button>
                {% endif %}
            </section>
            <!-- TODO   pagination-->
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>


    </div>




{% endblock %}
