{% extends 'base.html.twig' %}

{% block title %}Carnet de voyage{% endblock %}

{% block body %}

    <section class="hero">

        <div class="hero_full">
            <img src="{{  vich_uploader_asset(carnet, 'imageFile') }}" alt="" srcset="">
        </div>

        <div class="hero_content">
            <div class="hero_title">
                <h1 class="title title_level_1">{{ carnet.title | raw  }}</h1>

            </div>

            <div class="hero_info">
                <i class="text paragraph annotation bi bi-pin-map"> {{ carnet.country.name}}</i>
                <i class="text paragraph annotation bi bi-calendar-event"> {{ carnet.updateAt|date('d/m/Y')}} </i>
                <i class="text paragraph annotation bi bi-thermometer-sun"> {{ carnet.country.climat }}</i>
                <i class="text paragraph annotation bi bi-person"> {{ carnet.users.pseudo }}  </i>
            </div>
        </div>
    </section>

    <section class="conten_article">
        <article class="article-center">
            <div class="wrapper">
                <div class="article-title">
                    <h2 class="title title_level_2" style="margin-bottom: 30px">{{ carnet.title }}</h2>
                    <div class="article-text text paragraph">
                        {{ carnet.content | raw }}
                    </div>

                </div>

            </div>
        </article>

        <figure class="article-image">

            <img src="{{  vich_uploader_asset(carnet, 'imageContentFile') }}" alt="" srcset="">

        </figure>
    </section>

    <div class="map-article-wrapper">
        <div class="map_article">
            <div id="article-map" ></div>
            <div class="map-info">
                <div class="info">
                    <h6 class="title title_level_4 title_citation">Information du pays</h6>
                    <div class="small-info">
                        <small  class="title title_citation">Pays: <bold class="paragraph__bold">{{ carnet.country.name }}</bold> </small>

                        <small  class="title title_citation">Climat: <bold class="paragraph__bold">{{ carnet.country.climat }}</bold> </small>
                    </div>
                </div>
                <div class="info-link">
                    <h6 class="title title_level_4 title_citation">Découvrir le parcours</h6>
                        <button class="btn link-parcours "><a href="{{ path('app_parcours_show', {'id': carnet.parcour.id}) }}">{{ carnet.parcour.parcoursCategories.name }}</a></button>

                </div>
            </div>
        </div>
    </div>

    <section class="conten_article_primary wrapper-card">
        <div class="title">
            <h3 class="title_level_2 title">Les offres commercials</h3>
        </div>


        <div class="wrapper_row">
            <div class="card_wrapper">
                <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="">
                <div class="card_header">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <p class="paragraph">19 jours</p>

                </div>
                <div class="card_bottom">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <button class="btn btn-card">Découvrir</button>
                </div>
            </div>

            <div class="card_wrapper">
                <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="">
                <div class="card_header">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <p class="paragraph">19 jours</p>
                </div>

                <div class="card_bottom">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <button class="btn btn-card">Découvrir</button>
                </div>

            </div>

            <div class="card_wrapper">
                <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="">
                <div class="card_header">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <p class="paragraph">19 jours</p>
                </div>

                <div class="card_bottom">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <button class="btn btn-card">Découvrir</button>
                </div>
            </div>
        </div>



        {# TODO  link doesn't work #}
        <div class="simple_card">
            <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="" class="background_absolute">
            <h4 class="simple_card_text left title color_white title_level_4">vous aussi vous voyager  ? </h4>
            <button class="btn btn-simple_card"><a href={{ path('app_register')}}">Inscrivez vous</a></button>
            <h4 class="simple_card_text right title color_white title title_level_4">vous pourrez nous raconter vos aventure  ? </h4>
        </div>
    </section>

    <script>

        mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRkZDEiLCJhIjoiY2tvYTA5eGZuMHp3eDJvbXV1dzhnemRzdyJ9.9piPbHzUKZsQ23CDUg3U0g';
        const map = new mapboxgl.Map({
            container: 'article-map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [{{ carnet.parcour.longitude }}, {{ carnet.parcour.latitude }}], // starting position [lng, lat]
            zoom: 5 // starting zoom

        });

        const marker = new mapboxgl.Marker({
            draggable: false
        })
            .setLngLat([{{ carnet.parcour.longitude }}, {{ carnet.parcour.latitude }}])
            .addTo(map);

    </script>

{% endblock %}
