{% extends 'base.html.twig' %}
 
{% block title %}Trotter Ethic{% endblock %}
{% block body %}
<div class="map_body">
    <div class="example-wrapper">
        <div class="parent">
          <div id='map'>
            <div class="marker__container" id="filters">
              {% for POIcategorie in POIcategories %}
                <button class="btn location categPOI">
                <a href="{{ path('map_categorie')}}?cat=">{{ POIcategorie.title }}</a>
                </button>
              {% endfor %}
            </div>
        </div>
        <div class="div2">                     
            <div class="swiper2">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                {% for article in articles %}
                    <div class="swiper-slide card_map">
                            <img src="{{  vich_uploader_asset(article, 'imageFile') }}" alt="" srcset="">
                        <div class="card_map_content">
                            <h3> {{ article.title }}</h3>
                            <small>{{ article.auteur.pseudo }}</small>
                            <p>{{ article.content|u.truncate(30)|raw }}</p>
                            <button><a href="{{ path('article_show_slug', {'slug': article.slug}) }}"> lire la suite  </a>  </button>
                            <div class="info_article">
                                <small>{{ article.updateAt|date('d/m/Y') }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
                <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
                <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>





        {#
            <div class="marker__container" id="filtersCateg" >
            <form id="filters">
          {% for POIcategorie in POIcategories %}
                <input  class="btn location" type="checkbox" name="categories[]" id="catPOI{{ POIcategorie.id}}" value = "{{ POIcategorie.id}}">
                <label for="catPOI{{ POIcategorie.id}}">{{ POIcategorie.title }}</label>
          {% endfor %}
            </form>



 #}
        <script src="{{ asset('Js/swipperMain.js') }}"></script>

        <script>


        /*
         * MAPBOX
         */

        const token = 'pk.eyJ1IjoiZGF2aWRkZDEiLCJhIjoiY2t3cTU2eWx3MDNnbzJubzl3MHRwMmQydCJ9.cXqaTDKUiN0mK0obF0_IWw';
        mapboxgl.accessToken = token;
        navigator.geolocation.getCurrentPosition(successLocation, errorLocation, { enableHighAcccuracy: true })

        const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/daviddd1/cl0wp05fg001y14o1pxs9qop9', // style URL
        center: [-2.24, 53.48], // starting position [lng, lat]
        zoom: 5 // starting zoom
        // Create a new marker.
        });

        function successLocation(position) {
        setupMap([position.coords.longitude, position.coords.latitude]);
        }

        function errorLocation() {
        console.error(error)
        setupMap([-2.24, 53.48]);
        }

        function setupMap(center) {
        map.setCenter(center);
        {% for PointsInterests in PointsInterestsBycategorie %}
            const popup{{ PointsInterests.id }} = new mapboxgl.Popup({ offset:25 })
            .setHTML(' <h4> {{ PointsInterests.title }} </h4> <br> <h4> {{ PointsInterests.categorieInterest.title }} </h4> ')
            .addClassName('popup food')
            var marker{{ PointsInterests.id }} = new mapboxgl.Marker()
            .setLngLat([{{ PointsInterests.longitude }},{{ PointsInterests.latitude }}])
            .setPopup(popup{{ PointsInterests.id }})
            .addTo(map);
        {% endfor %}

        const nav = new mapboxgl.NavigationControl()
        map.addControl(nav)

        const directions = new MapboxDirections({
        accessToken : mapboxgl.accesToken
        })

        map.addControl(directions, "top-left");

        return map;
        }




        /*
        * Filters POI by categegories
        */

                let ListBtnPOIs = document.querySelectorAll('.categPOI')
              function filterCategorie(categorie) {
           
                    const url = "{{ path('map_categorie') }}?";
                 
                    var courses = {};
                    for(let i= 0; i < ListBtnPOIs.length; i++ ){
                      ListBtnPOIs[i].addEventListener('click', function(e){
                        e.preventDefault();
                        ListBtnPOIs[i].href= url
                      })
                    }
                    const xmlhttp = new XMLHttpRequest();
                    xmlhttp.open("GET", url , true);
                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
                            courses =  JSON.parse(xmlhttp.responseText);
                            console.log(courses);

                            for (var i = 0; i < courses.length; i++) {
                                const popup = new mapboxgl.Popup({ offset:25 })
                                    .setHTML('<h4>' + courses[i].title + '</h4> <br> <h4>' + courses[i].categorie +' </h4> ')
                                    .addClassName('popup food');
                                    
                                var marker = new mapboxgl.Marker()
                                    .setLngLat([courses[i].longitude, courses[i].latitude])
                                    .setPopup(popup)
                                    .addTo(map);
                            }
                        } else {
                            console.error("C'est pété coté serveur!");
                        }
                    };
                    xmlhttp.send(null);  
                }

                const categorie = "Hebergement" ;
                filterCategorie(categorie);
              
 
                </script>

 
{% endblock %}
 