<form method="post" action="{{ path('app_admin_activity_categories_delete', {'id': activity_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity_category.id) }}">
    <button class="btn">Delete</button>
</form>
