{% extends 'admin.html.twig' %}

{% block title %}Edit ActivityCategories{% endblock %}

{% block body %}
    <h1>Edit ActivityCategories</h1>

    {{ include('admin_activity_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_activity_categories_index') }}">back to list</a>

    {{ include('admin_activity_categories/_delete_form.html.twig') }}
{% endblock %}
