{% extends 'admin.html.twig' %}

{% block title %}New ActivityCategories{% endblock %}

{% block body %}
    <h1>Create new ActivityCategories</h1>

    {{ include('admin_activity_categories/_form.html.twig') }}

    <a href="{{ path('app_admin_activity_categories_index') }}">back to list</a>
{% endblock %}
