{% extends 'admin.html.twig' %}

{% block title %}ActivityCategories{% endblock %}

{% block body %}
    <h1>ActivityCategories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity_category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ activity_category.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activity_category.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_activity_categories_index') }}">back to list</a>

    <a href="{{ path('app_admin_activity_categories_edit', {'id': activity_category.id}) }}">edit</a>

    {{ include('admin_activity_categories/_delete_form.html.twig') }}
{% endblock %}
