<form method="post" action="{{ path('app_admin_carnet_voyage_delete', {'id': carnet_voyage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carnet_voyage.id) }}">
    <button class="btn">Delete</button>
</form>
