{% extends 'admin.html.twig' %}

{% block title %}Edit CarnetVoyage{% endblock %}

{% block body %}
    <h1>Edit CarnetVoyage</h1>

    {{ include('admin_carnet_voyage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_carnet_voyage_index') }}">back to list</a>

    {{ include('admin_carnet_voyage/_delete_form.html.twig') }}
{% endblock %}
