{% extends 'admin.html.twig' %}

{% block title %}Gestion des Carnets de Voyage {% endblock %}

{% block body %}
    <h1>CarnetVoyage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Thumbnail</th>
                <th>ImageContent</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carnet_voyage in carnet_voyages %}
            <tr>
                <td>{{ carnet_voyage.id }}</td>
                <td>{{ carnet_voyage.title }}</td>
                <td>{{ carnet_voyage.Content }}</td>
                <td>{{ carnet_voyage.thumbnail }}</td>
                <td>{{ carnet_voyage.imageContent }}</td>
                <td>{{ carnet_voyage.createdAt ? carnet_voyage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carnet_voyage.updateAt ? carnet_voyage.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_carnet_voyage_show', {'id': carnet_voyage.id}) }}">show</a>
                    <a href="{{ path('app_admin_carnet_voyage_edit', {'id': carnet_voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_carnet_voyage_new') }}">Create new</a>
{% endblock %}
