{% extends 'admin.html.twig.html.twig' %}

{% block title %}nouveau Carnets de voyage{% endblock %}

{% block body %}
    <h1>Create new CarnetVoyage</h1>

    {{ include('admin_carnet_voyage/_form.html.twig') }}

    <a href="{{ path('app_admin_carnet_voyage_index') }}">back to list</a>
{% endblock %}
