<form method="post" action="{{ path('app_admin_interest_point_delete', {'id': interset_point.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ interset_point.id) }}">
    <button class="btn">Delete</button>
</form>
