{% extends 'admin.html.twig' %}


{% block title %}Tous les points d'interets{% endblock %}

{% block body %}
    <h1>Tous les points d'interets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>catégorie</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for interset_point in interset_points %}
            <tr>
                <td>{{ interset_point.id }}</td>
                <td>{{ interset_point.title }}</td>
                <td>{{ interset_point.description }}</td>
                <td>{{ interset_point.categorieInterest.title }}</td>
                <td>{{ interset_point.latitude }}</td>
                <td>{{ interset_point.longitude }}</td>
                <td>
                    <a href="{{ path('app_admin_interest_point_show', {'id': interset_point.id}) }}">show</a>
                    <a href="{{ path('app_admin_interest_point_edit', {'id': interset_point.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}

       {# TODO #}     
        {# ajouter une carte avec un la possibilité de déposé un marker avec autocomplétion des données de latitude et de longiitude #}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_interest_point_new') }}">Create new</a>
{% endblock %}
