{% extends 'admin.html.twig' %}


{% block title %}Nouveau point d'interet{% endblock %}

{% block body %}
    <h1>Créer un nouveau point d'interet</h1>

    {{ include('admin_interest_point/_form.html.twig') }}

    <div id="article-map" style="height: 400px; width:400px;" ></div>


    <a href="{{ path('app_admin_interest_point_index') }}">back to list</a>

    <script>



        mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRkZDEiLCJhIjoiY2tvYTA5eGZuMHp3eDJvbXV1dzhnemRzdyJ9.9piPbHzUKZsQ23CDUg3U0g';
        const map = new mapboxgl.Map({
            container: 'article-map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [0, 0], // starting position [lng, lat]
            zoom: 2 // starting zoom
        });
        const marker = new mapboxgl.Marker({
            draggable: true
        })
            .setLngLat([0,0])
            .addTo(map);
        const latitude = document.getElementById('interset_point_latitude')
        const longitude = document.getElementById('interset_point_longitude')
        console.log(latitude)

        function onDragEnd() {
            const lngLat = marker.getLngLat()
            latitude.value = `${lngLat.lat}`
            longitude.value = `${lngLat.lng}`
            console.log(latitude)
        }
        marker.on('dragend', onDragEnd);


    </script>
{% endblock %}
