{% extends 'admin.html.twig' %}


{% block title %}Point d'interet{% endblock %}

{% block body %}
    <h1>Point d'interet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ interset_point.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ interset_point.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ interset_point.description }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ interset_point.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ interset_point.longitude }}</td>
            </tr>      
            <tr>
                <th>Catégorie</th>
                <td>{{ interset_point.categorieInterest.title }}</td>
            </tr>
        </tbody>
    </table>

    <div id="article-map" style="height: 400px; width:400px;" ></div>


    <a href="{{ path('app_admin_interest_point_index') }}">back to list</a>

    <a href="{{ path('app_admin_interest_point_edit', {'id': interset_point.id}) }}">edit</a>

    {{ include('admin_interest_point/_delete_form.html.twig') }}



    <script>


        mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRkZDEiLCJhIjoiY2tvYTA5eGZuMHp3eDJvbXV1dzhnemRzdyJ9.9piPbHzUKZsQ23CDUg3U0g';
        const map = new mapboxgl.Map({
            container: 'article-map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [{{ interset_point.longitude }}, {{ interset_point.latitude }}], // starting position [lng, lat]
            zoom: 2 // starting zoom
        });
        const marker = new mapboxgl.Marker({
            draggable: false
        })
            .setLngLat([{{ interset_point.longitude }}, {{ interset_point.latitude }}])
            .addTo(map);





    </script>
{% endblock %}
