{{ form_start(form) }}
    {{ form_widget(form) }}


        <button class="btn btn-primary">{{ button_label|default('Ajouter une activité') }}</button>

        <button class="btn btn-primary" id="home-article"  name="END" value="END"  >{{ button_label|default("Terminer l'ajout d'article") }}</button>


    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
