{% extends 'admin.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.Name }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.latitude }}</td>
                <td>{{ activity.longitude }}</td>
                <td>{{ activity.article.id }}</td>

                {% for activin in activity.article.activities %}
                    <td>{{ loop.last }}</td>
                {% endfor %}

                <td>
                    <a href="{{ path('app_admin_activity_show', {'id': activity.id}) }}">show</a>
                    <a href="{{ path('app_admin_activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_activity_new') }}">Create new</a>
{% endblock %}
