{% extends 'admin.html.twig' %}

{% block title %}New Activity{% endblock %}

{% block body %}
    <h1>Create new Activity</h1>

    {{ include('admin_activity/_form.html.twig') }}
    <div id="article-map" style="height: 400px; width:400px;" ></div>

    <a href="{{ path('app_admin_activity_index') }}">back to list</a>
    <script>


        mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRkZDEiLCJhIjoiY2tvYTA5eGZuMHp3eDJvbXV1dzhnemRzdyJ9.9piPbHzUKZsQ23CDUg3U0g';
        const map = new mapboxgl.Map({
            container: 'article-map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [0, 0], // starting position [lng, lat]
            zoom: 2 // starting zoom
        });
        const marker = new mapboxgl.Marker({
            draggable: true
        })
            .setLngLat([0, 0])
            .addTo(map);
        const latitude = document.getElementById('activity1_latitude')
        const longitude = document.getElementById('activity1_longitude')
        console.log(latitude)

        function onDragEnd() {
            const lngLat = marker.getLngLat()
            latitude.value = `${lngLat.lat}`
            longitude.value = `${lngLat.lng}`
            console.log(latitude)
        }
        marker.on('dragend', onDragEnd);


    </script>
{% endblock %}
