{% extends 'admin.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <h1>Activity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ activity.Name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activity.description }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ activity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ activity.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <div id="article-map" style="height: 400px; width:400px;" ></div>


    <a href="{{ path('app_admin_activity_index') }}">back to list</a>

    <a href="{{ path('app_admin_activity_edit', {'id': activity.id}) }}">edit</a>

    {{ include('admin_activity/_delete_form.html.twig') }}
    <script>


        mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRkZDEiLCJhIjoiY2tvYTA5eGZuMHp3eDJvbXV1dzhnemRzdyJ9.9piPbHzUKZsQ23CDUg3U0g';
        const map = new mapboxgl.Map({
            container: 'article-map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [{{ activity.longitude }}, {{ activity.latitude }}], // starting position [lng, lat]
            zoom: 2 // starting zoom
        });
        const marker = new mapboxgl.Marker({
            draggable: false
        })
            .setLngLat([{{ activity.longitude }}, {{ activity.latitude }}])
            .addTo(map);


    </script>
{% endblock %}
