<form method="post" action="{{ path('app_admin_categories_interest_delete', {'id': categories_interest.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categories_interest.id) }}">
    <button class="btn">Delete</button>
</form>
