{% extends 'admin.html.twig' %}


{% block title %}Edition des catégories de point d'interet{% endblock %}

{% block body %}
    <h1>Edit CategoriesInterest</h1>

    {{ include('admin_categories_interest/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_categories_interest_index') }}">back to list</a>

    {{ include('admin_categories_interest/_delete_form.html.twig') }}
{% endblock %}
