{% extends 'admin.html.twig' %}


{% block title %}Catégories de point d'interet{% endblock %}

{% block body %}
    <h1>CategoriesInterest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categories_interest in categories_interests %}
            <tr>
                <td>{{ categories_interest.id }}</td>
                <td>{{ categories_interest.title }}</td>
                <td>{{ categories_interest.description }}</td>
                <td>
                    <a href="{{ path('app_admin_categories_interest_show', {'id': categories_interest.id}) }}">show</a>
                    <a href="{{ path('app_admin_categories_interest_edit', {'id': categories_interest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_categories_interest_new') }}">Create new</a>
{% endblock %}
