{% extends 'admin.html.twig' %}


{% block title %}Nouvel  catégorie de point d'interet{% endblock %}

{% block body %}
    <h1>Create new CategoriesInterest</h1>

    {{ include('admin_categories_interest/_form.html.twig') }}

    <a href="{{ path('app_admin_categories_interest_index') }}">back to list</a>
{% endblock %}
