{% extends 'admin.html.twig' %}


{% block title %}Catégorie de point d'interet{% endblock %}

{% block body %}
    <h1>Catégorie de point d'interet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categories_interest.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ categories_interest.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categories_interest.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_categories_interest_index') }}">back to list</a>

    <a href="{{ path('app_admin_categories_interest_edit', {'id': categories_interest.id}) }}">edit</a>

    {{ include('admin_categories_interest/_delete_form.html.twig') }}
{% endblock %}
