{% extends 'admin.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

<div class="container-fluid">
    <section class="row mt-4">
        <nav class="col-1">
            <div class="d-flex flex-column flex-shrink-0 bg-secondary" style="width:4.5rem;">
                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link active py-3 border-bottom" title="">
                            <i class="bi bi-file-text"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi bi-pie-chart"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi bi-person-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Author</th>
                <th>Image</th>
                <th>Crée le </th>
                <th>Modifié le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
      
        </tbody>
    </table>

</div>
        <div class="row">


            {{ render_chart(chart) }}


        </div>
{% endblock %}
