{% extends 'admin.html.twig' %}

{% block title %}Administration Trotter ethic{% endblock %}

{% block body %}


    <h2>Nombre de post par année</h2>

    {{ render_chart(chart) }}

    <h2>Nombre de post total par auteurs</h2>

    {{ render_chart(chart2) }}


    <h1>Users index</h1>
    <a class="btn btn-primary"  href="{{ path('app_admin_users_new') }}">Ajouter un nouvel utilisateur</a>
    <table class="table">
        <thead>
        <tr>
            <th>Nom de famille</th>
            <th>Prénom</th>
            <th>Pseudo</th>
            <th>Roles</th>
            <th>Email</th>
            <th>Id</th>
            <th>Inscrit le...</th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in UsersList %}
            <tr>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>

                <td>
                    <a href="{{ path('app_admin_users_show', {'id': user.id}) }}">voir</a>
                    <a href="{{ path('app_admin_users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary"  href="{{ path('app_admin_users_new') }}">Ajouter un nouvel utilisateur</a>




{% endblock %}
