{% extends 'redacteur.html.twig' %}

{% block title %}Rédacteur accueil{% endblock %}

{% block body %}
    <body>
    <h1>Mes carnets de voyage</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Créer le </th>
                <th>Mise a jour le </th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
            {% if app.user.carnetVoyages %}

                {% for carnet in app.user.carnetVoyages %}
         <tr>
                <td>{{ carnet.title }}</td>
                <td>{{ carnet.createdAt ? carnet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carnet.updateAt ? carnet.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carnet.slug }}</td>
                <td>
                    <a href="{{ path('app_redacteur_carnet_voyage_show', {'id': carnet.id}) }}">show</a>
                    <a href="{{ path('app_redacteur_carnet_voyage_edit', {'id': carnet.id}) }}">edit</a>
                </td>

            {% else %}
                <td colspan="9">pas de carnet de trouvé</td>

                {% endfor %}
            {% endif %}

         </tr>
        </table>
             <a href="{{ path('app_redacteur_carnet_voyage_new') }}">Créer un nouveau carnet</a>
    </body>

{% endblock %}
