<form method="post" action="{{ path('app_admin_parcours_delete', {'id': parcour.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parcour.id) }}">
    <button class="btn">Delete</button>
</form>
