{% extends 'admin.html.twig' %}

{% block title %}edition de  Parcours{% endblock %}

{% block body %}
    <h1>Tous les Parcours</h1>

    {{ include('admin_parcours/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_parcours_index') }}">back to list</a>

    {{ include('admin_parcours/_delete_form.html.twig') }}
{% endblock %}
