{% extends 'admin.html.twig' %}

{% block title %}Tous les Parcours {% endblock %}

{% block body %}
    <h1>Tous les Parcours </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Thumbnail</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parcour in parcours %}
            <tr>
                <td>{{ parcour.id }}</td>
                <td>{{ parcour.name }}</td>
                <td>{{ parcour.thumbnail }}</td>
                <td>{{ parcour.content }}</td>
                <td>
                    <a href="{{ path('app_admin_parcours_show', {'id': parcour.id}) }}">show</a>
                    <a href="{{ path('app_admin_parcours_edit', {'id': parcour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_parcours_new') }}">Create new</a>
{% endblock %}
