{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block body %}
    <h1>Parcours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parcour.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ parcour.name }}</td>
            </tr>
            <tr>
                <th>Thumbnail</th>
                <td>{{ parcour.thumbnail }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ parcour.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_parcours_index') }}">back to list</a>

    <a href="{{ path('app_admin_parcours_edit', {'id': parcour.id}) }}">edit</a>

    {{ include('admin_parcours/_delete_form.html.twig') }}
{% endblock %}
