{% extends 'base.html.twig' %}

{% block title %}Status{% endblock %}

{% block body %}
    <h1>Status</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ status.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ status.label }}</td>
            </tr>
            <tr>
                <th>InternalName</th>
                <td>{{ status.internalName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_status_index') }}">back to list</a>

    <a href="{{ path('app_admin_status_edit', {'id': status.id}) }}">edit</a>

    {{ include('admin_status/_delete_form.html.twig') }}
{% endblock %}
