/**
* Reset global before edit website
*/ 

* , *::before, *::after { 
    box-sizing: border-box;
}

/**
* origin default 
*/ 

* { 
    margin: 0 
}

li{ 
    list-style: none;

}

a { 
    text-decoration: none;
    color: inherit;
}


/** 
* media defaults
*/

img , picture , video , canvas , svg { 
    display: block;
    max-width: 100%;
}

/**
* breatext overflows
*/ 



p, h1 , h2 , h3 , h4 , h5 , h6 { 
    overflow-wrap: break-word;
    line-height: 1.2;
}




