/**
* local font loading 
*/

@font-face {
    font-family: 'Hind Madurai', sans-serif;
    src:  url("/assets/styles/fonts/Hind_Madurai/HindMadurai-Regular.ttf") format(ttf);
}



@font-face { 
    font-family: 'Noto Serif Display', serif;
    src: url("/assets/styles/fonts/Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth\,wght.ttf") format(ttf); 

}

@font-face { 
    font-family: 'Noto Serif Display', serif;
    src: url("/assets/styles/fonts/Noto_Serif_Display/NotoSerifDisplay-Italic-VariableFont_wdth\,wght.ttf") format(ttf); 

}

.title { 
    font-family: 'Noto Serif Display', serif;
    font-weight: normal;
}

.text { 
    font-family: 'Hind Madurai', sans-serif;
    font-weight: normal;

}

.paragraph { 
    font-size: 18px;
}
.paragraph__bold { 
    font-weight: bold;
    font-size: 22px;
}
.annotation { 
    font-weight: lighter;
}

.title_level_1 { 
    font-size: 67px;
}

.title_level_2 { 
    font-size: 50px;
}

.title_level_3 { 
    font-size: 38px;
}

.title_level_4 { 
    font-size: 22px;
}


.title_citation { 
    font-style: italic;

}

.light { 
    font-weight: lighter;
}

.align-center { 
    text-align: center;
}


.color_white { 
    color : #FEFCFC ;
}

