<section class="footer">
    <div>
        <a href="{{ path('custom_page_a_propos', {'url': 'cgu'}) }}">CGU</a>
        <a href="https://ducrocqdavid.fr">Fait par Ducrocq david</a>
        <a href="{{ path('custom_page_a_propos', {'url': 'mention'}) }}">mentions légales </a>
    </div>

</section>