
<header class ="header__container">

 <body>
    <header class="header">
      <div class="logo">
		  <img src="{{  asset('img/Logo/logo-trotter-ethic-62bef8d273817599543840.png') }}" alt="" srcset="">
		<div class="baseline">
         	<a style="text-transform: uppercase" class="title title_level_3" href="{{ path('main') }}">{{ generalSettings.WebsiteTitle }}</a>
		   	<small  class="title paragraph title_citation">{{ generalSettings.slogan |raw}}</small>
       	</div>
      </div>

		<nav class="primary_navigation">
			<ul class="">
				<li class="header__nav__item">
					<a class="header__nav__link" href="{{ path('custom_page_a_propos', {'url': 'a_propos'}) }}">Qu'es que TROTTER ETHIC ?</a>
				</li>
				<li class="header__nav__item">
					<a class="header__nav__link" href="{{ path('app_article')}}">Articles</a>
				</li>

				<li class="header__nav__item">
					<a class="header__nav__link" href="{{ path('app_carnet_voyage')}}">Carnets de voyage</a>
				</li>

				{% if app.user %}
					{% for role in app.user.roles %}
						{% if role == "ROLE_ADMIN" %}
							<li class="header__nav__item">
								<a class="header__nav__link" href="{{ path('app_admin')}}">Mon espace d'administration</a>
							</li>
						{% else %}
							<li class="header__nav__item">
								<a class="header__nav__link" href="{{ path('app_redacteur')}}">Mon espace</a>
							</li>
				
					<li class="header__nav__item">
						<a class="header__nav__link" href="{{ path('app_users_profile_show', {'id': app.user.usersProfile.id})}}">Mon profil</a>
					</li>
					<li class="header__nav__item">
						<a class="header__nav__link" href="{{ path('app_logout')}}">Déconnexion</a>
					</li>
				{% else %}
					<li class="header__nav__item">
						<a class="header__nav__link" href="{{ path('app_login')}}">Connexion</a>
					</li>
					<li class="header__nav__item">
						<a class="header__nav__link" href="{{ path('app_register')}}">Inscription</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</header>

