{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <h1>Edit Users</h1>

    {{ include('admin_users/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_users_index') }}">back to list</a>

    {{ include('admin_users/_delete_form.html.twig') }}
{% endblock %}
