{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h1>Create new Users</h1>

    {{ include('admin_users/_form.html.twig') }}

    <a href="{{ path('app_admin_users_index') }}">back to list</a>
{% endblock %}
