{% extends 'redacteur.html.twig' %}

{% block title %}tout les  Carnets de Voyage{% endblock %}

{% block body %}
    <h1>Edit CarnetVoyage</h1>

    {{ include('redacteur_carnet_voyage/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_redacteur_carnet_voyage_edit') }}">retour a la liste</a>

    {{ include('redacteur_carnet_voyage/_delete_form.html.twig') }}
{% endblock %}
