{% extends 'redacteur.html.twig' %}

{% block title %}CarnetVoyage index{% endblock %}

{% block body %}
    <h1>CarnetVoyage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carnet_voyage in carnet_voyages %}
            <tr>
                <td>{{ carnet_voyage.id }}</td>
                <td>{{ carnet_voyage.title }}</td>
                <td>{{ carnet_voyage.createdAt ? carnet_voyage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carnet_voyage.updateAt ? carnet_voyage.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carnet_voyage.slug }}</td>
                <td>
                    <a href="{{ path('app_redacteur_carnet_voyage_show', {'id': carnet_voyage.id}) }}">Voir</a>
                    <a href="{{ path('app_redacteur_carnet_voyage_edit', {'id': carnet_voyage.id}) }}">Édition</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_redacteur_carnet_voyage_new') }}">Ajouter un nouveau"</a>
{% endblock %}
