{% extends 'redacteur.html.twig' %}

{% block title %}Nouveau carnet de voyage{% endblock %}

{% block body %}
    <h1>Créer un nouveau carnet de voyage</h1>

    {{ include('redacteur_carnet_voyage/_form.html.twig') }}

    <a href="{{ path('app_redacteur_carnet_voyage_index') }}">Retour a mon espace</a>
{% endblock %}
