{% extends 'redacteur.html.twig' %}

{% block title %}CarnetVoyage{% endblock %}

{% block body %}
    <h1>CarnetVoyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carnet_voyage.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ carnet_voyage.title }}</td>
            </tr>
            <tr>
                <th>contenue</th>
                <td>{{ carnet_voyage.Content }}</td>
            </tr>
            <tr>
                <th>Thumbnail</th>
                <td>{{ carnet_voyage.thumbnail }}</td>
            </tr>
            <tr>
                <th>ImageContent</th>
                <td>{{ carnet_voyage.imageContent }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ carnet_voyage.createdAt ? carnet_voyage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ carnet_voyage.updateAt ? carnet_voyage.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ carnet_voyage.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_redacteur_carnet_voyage_index') }}">back to list</a>

    <a href="{{ path('app_redacteur_carnet_voyage_edit', {'id': carnet_voyage.id}) }}">edit</a>

    {{ include('redacteur_carnet_voyage/_delete_form.html.twig') }}
{% endblock %}
