/*
* style for all button
*/ 

.btn {
  @include button;
  @include relative;
}


.link-parcours { 
  width: 50%;
  border-radius: 0;
  background-color: $primary-color;
  @include box-shadow-header;
  font-family: 'Noto Serif Display', serif;
  font-weight: 600;
  color: $tertiary-color;

}

.link-parcours-opposite {
  width: 50%;
  border-radius: 0;
  background-color: $tertiary-color;
  @include box-shadow-header;
  font-family: 'Noto Serif Display', serif;
  font-weight: 600;
  color: $primary-color;
}

.location { 
  width: 200px;
  height: 40px;
  border-radius: 30px;
  background: $tertiary-color;
  border: $quartery-color 1px solid;
}


.form-btn { 
  margin: 20px;
  @include title; 
  
}


.btn-simple_card {
  height: 70px;
  width: 170px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  background-color: $primary-color;
  @include box-shadow-header;
  border : 2px solid $fiver-color;

    &:hover {
      border : none; 
      transition: 0.5s;
    }
  

      a { 
        text-align: center;
        margin: 0 auto;
        height: 100%;
        color: $fiver-color;
      
      }
}


