/*
*  design for card 
*/

.card_wrapper {
  position: relative;
  z-index: 2;
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card_header {
    position: relative;
    height: 100px;
    width: 100%;
    @include opacity;
    z-index: 6;
  }

  .card_bottom {
    position: relative;
    z-index: 6;
    height: 100px;
    width: 100%;
    @include opacity;
  }

  .card_header,
  .card_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $fiver-color;
  }
}

.simple_card {
  height: 400px;
  width: 1500px;
  margin: 50px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;

  img.background_absolute {
    @include absolute_backgroud;
  }


  .simple_card_text.left {
      text-align: left;
      padding: 20px;
      
  }
  
  .simple_card_text.right {
    text-align: right;
    padding: 20px;
}
}

.swiper-slide.card_map { 
  margin: 0 auto;
  width: 80%;
  height: 300px;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content:flex-end ;

      img { 
        border-radius: 20px;
        @include absolute_backgroud;

      }


      .card_map_content { 

        height: 100%;
        width: 60%;
        background-color: #ffffff80;
        z-index: 2;
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: left;
        padding: 10px;

          button{ 
            padding: 8px 30px;
            border-radius: 5px;
            background-color: $primary-color;
            color: $tertiary-color;
            
          }


      }
}


.card_row { 
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;


    .card_member { 

        height:350px ;
        width: 300px;

        figure { 
        height: 100%;
        
        background-color: $fiver-color;
      
        img{ 
          
          height: 250px;
          width: 250px;
          object-fit: cover;
          margin: 0 auto; 
          padding-top: 20px
        };

        figcaption {
          text-align: center;
          margin: 40px;
          font-size: 24px;
          font-style: italic;
          font-family: 'Noto Serif Display', serif;


        } 
    

      }
  

    }

    

}



.archive__card { 

  height: 300px;
  width: 580px;
  background-color: aquamarine;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;

  img.background_absolute {
    @include absolute_backgroud;

  }

  
      .card_archive_content { 

        height: 100%;
        width: 60%;
        background-color: #ffffff80;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: left;
        padding: 10px;

          button{ 
            padding: 8px 30px;
            background-color: $primary-color;
            color: $tertiary-color;
            
          }

    }

}
