/**
* displlay for content 
*/


section.conten_article {
  height: 100vh;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.conten_article_primary {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $primary-color;
}

section.conten_article_primary.wrapper-card {
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 20px 0 ;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: $primary-color;
}

.texture {
  width: 100%;
  height: 100%;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

article.article-center {
  width: 900px;
  height: 700px;
  background-color: $primary-color;
  color: $fiver-color;
  @include box-shadow;

  .wrapper {
    width: 70%;
    padding: 50px;
  }
}

figure.article-image {
  height: 500px;
  width: 700px;

  margin-left: -150px;
}

figure.article-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.intersection {
  height: 50vh;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

article.article_right {
  position: relative;
  height: 800px;
  width: 600px;
  background-color: $tertiary-color;
}

figure.article-image-left {
  height: 800px;
  width: 700px;
  position: relative;
}

figure.article-image-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.article_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px;
}

.wrapper_row {
  @include flex_row;
  height: 100%;
  width: 100%;
}

.simple_card_text {
  @include relative;
}
 

.main{ 
  height: auto;
  min-height: 100vh;
  width: 100%;
  background-color:$secondary-color;

}

.main__container__wrapper { 

  margin: 0 auto;
  max-width: 100vw;

  width: 1200px;
  display: flex;
  flex-direction: column ;
  justify-content: space-around;
  gap: 50px;
    
}


.hero__container { 

  width: 100%;
  height: 400px;
  background-color: $tertiary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:  center ;
      
  @media screen and (max-width: 640px) {
    height: 100vh;

    }


}

.hero-content {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:  space-around ;
}


.form__container  { 
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
  background-color: $primary-color;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    }


    img{ 
      width: 60%;
      height: 100%;
      object-fit: cover;
       @media screen and (max-width: 640px) {
        width: 100%;
        min-height: 150px;
        object-position: 50% 34%;
    
       }

      
    }


}


.form__container_connexion  { 
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 50%;
  justify-content: center;
  background-color: $primary-color;
  margin: 0 auto;
  margin-top: 70px;
   
  @media screen and (max-width: 640px) {
    width: 80%;
  }

}


.galery__article { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 100px 0; 
  
  @media screen and (max-width: 640px) {
    margin: 0 20px; 

  }


}


.pagination {
  margin: 50px auto;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: $primary-color;
  color: $fiver-color;
}

.pagination a:hover:not(.active) {background-color: #ddd;}



.profil_container { 
  width: 100%; 
  height:  800px ;
  
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 100px auto;

}


.row_profil { 
 display: flex;
 flex-direction: row;
 justify-content: space-around; 
 width: 100%;


    form { 
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
      img { 
        width: 300px; 
       height: 300px;
        object-fit: cover;
      };
}