/*
* style of footer
*/

section.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $tertiary-color;
  gap: 10px;

  div{
    display: flex;
    flex-direction: raw;
    gap: 30px;
    margin: 50px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;

    a {
      padding: 10px 15px;

      border-radius: 30px;
    }


  }


}
