
/**
* design for form
*/


#users_profile{

        .mb-3{
            margin: 2rem;
        }

        #users_profile_biography {
            height: 200px;
            width: 300px;
        }


}





.form-inscription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    margin-left: 150px;    
    @media screen and (max-width: 640px) {
      padding: 20px;
      gap: 10px;
      margin-left: 0;    
      width: 100vw;
      align-items: center;

    }


        input { 
            width: 40%;
            height: 40px;
                @media screen and (max-width: 640px) {
                    width: 60%;
                }
        }

        ::placeholder { 
            font-style: italic;
            @include title;
        }

        .checkbox { 
            height: 20px;
            width: 20px;
        }
    
     
        
}


.form-connexion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
        input { 
            height: 40px;
            width: 40%;
                    @media screen and (max-width: 640px) {
                        width: 60%;
                    }
        }

        ::placeholder { 
            font-style: italic;
            @include title;
        }

        .checkbox { 
            height: 20px;
            width: 20px;
        }
    
     
        
}