/*
* grid for map on home
*/

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: calc(100vh - 80px);
    }
    
    #map{ 
        grid-area: 1 / 1 / 6 / 5; 
        height: 100%;
        @media screen and (max-width: 640px) {
                  grid-area: 1 / 1 / 6 / 6; 

        }

    }
    .div2 { 
        grid-area: 1 / 5 / 6 / 6;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: $tertiary-color;

        @media screen and (max-width: 640px) {
            display: none;
        }
        
    } 

    .swiper2 {
        width: 100%;
        height: 300px;
      }
      


