

/**
header  configuration
*/
.header { 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 130px ;
    max-width: 100%;
    background-color: $tertiary-color;
    position: sticky; 
    top: 0;
    z-index: 1000;
    @include box-shadow-header;

    @media screen and (max-width: 640px) {

    height: 100px ;

    }


}

