/**
*  design Hero Banner 
*/


section.hero, .hero_full{ 
    min-width: 100%;
    height: 90vh;
    
}

.hero_full {
    position: relative;
    z-index: 0;
}

.hero_full img{ 
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.hero_content { 
  
    max-height: 1350px;
    height: 426px;
    width: 870px;
    padding: 40px;
    position: absolute;
    top: 30%;
    left: 5%;
    @include glassmorphism;
    color: $fiver-color;

}

.hero_title, .hero_exerpt{ 
    margin-bottom: 20px;
}

.hero_info { 
    display: flex;
    flex-direction: column;

}


