/*
* map syle
*/


div.map_body{
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

/*
* Map article
*/

.map-article-wrapper { 

  height: 800px;
  width: 100%;
  background-color:$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .map_article { 
    height: 600px ;
    width: 1200px;
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }
  
  #article-map { 
    height: 100%;
    width: 70%;
    background-color: aquamarine;
  }


  .map-info { 
    height: 100%;
    width: 30%;
    background-color:$tertiary-color;

      h6, .small-info { 
        text-align: center;
        padding: 20px;
      }
  }
  

  
}


.info-marker { 
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 30%;
  width: 100%;
margin: 0;

    ul li { 
    width: 100%;
    }

    li { 
      padding: 10px;
      }
}

.info-link{ 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}


.marker__container {
  position: absolute;
  height: auto;
  width: 250px;
  bottom: 150px;
  left: 50px;

  @media screen and (max-width: 640px) {
  display: none;
  }

}