/**
* nav bar and logo configuration
*/ 

.logo { 
    height: 120px;
    display: flex;
    align-items: center;
    margin: 0 50px ;
    img { 
         height: 100%;
         max-height: 120px;
     }
    .baseline{ 
        display: flex;
        flex-direction: column;
        margin: 0 50px ;

        @media screen and (max-width: 640px) {
        margin: 0 20px ;

        }


    }

    @media screen and (max-width: 640px) {
        
        span {
            font-size: 15px;
            width: 150px;
        }

        small{ 

            font-size: 10px;
        }


      }

}

ul li { 
        display: inline-block;
        a { 
            padding: 20px;
        }
}


/**
* footer navigation home page (map)
*/ 

.footer.mobile-home { 
    display: none;

    @media screen and (max-width: 640px) {

        display: flex;
        z-index: 200;

    }

}
