{% extends 'base.html.twig' %}

{% block title %}Parcours index{% endblock %}

{% block body %}
    <h1>Parcours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Thumbnail</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parcour in parcours %}
            <tr>
                <td>{{ parcour.id }}</td>
                <td>{{ parcour.name }}</td>
                <td>{{ parcour.thumbnail }}</td>
                <td>{{ parcour.content }}</td>
                <td>{{ parcour.createdAt ? parcour.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ parcour.updateAt ? parcour.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_parcours_show', {'id': parcour.id}) }}">show</a>
                    <a href="{{ path('app_parcours_edit', {'id': parcour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_parcours_new') }}">Create new</a>
{% endblock %}
