{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block body %}

    <section class="conten_article">
        <article class="article-center">
            <div class="wrapper">
                <div class="article-title">
                    <h1 class="title title_citation" >  Parcours Trotter Ethic </h1>

                    <h2 style="margin-bottom: 40px" class="title title_level_2">{{ parcour.name }}</h2>
                    <div class="text paragraph article-text">
                        {{ parcour.content }}
                    </div>
                </div>

            </div>
        </article>

        <div class="article-image">

            <div id="article-map"  style="width: 600px; height: 600px; "></div>



        </div>
    </section>

    <section class="conten_article_primary wrapper-card">
        <div class="title">
            <h3 class="title_level_2 title color_white title_citation">Nos offres commercial</h3>
        </div>


        <div class="wrapper_row">
            <div class="card_wrapper">
                <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="">
                <div class="card_header">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <p class="paragraph">19 jours</p>

                </div>
                <div class="card_bottom">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <button class="btn btn-card">Découvrir</button>
                </div>
            </div>

            <div class="card_wrapper">
                <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="">
                <div class="card_header">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <p class="paragraph">19 jours</p>
                </div>

                <div class="card_bottom">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <button class="btn btn-card">Découvrir</button>
                </div>

            </div>

            <div class="card_wrapper">
                <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="">
                <div class="card_header">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <p class="paragraph">19 jours</p>
                </div>

                <div class="card_bottom">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <button class="btn btn-card">Découvrir</button>
                </div>
            </div>
        </div>



        {# TODO  link doesn't work #}
        <div class="simple_card">
            <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="" class="background_absolute">
            <h4 class="simple_card_text left title color_white title_level_4">vous aussi vous voyager  ? </h4>
            <button class="btn btn-simple_card"><a href={{ path('app_register')}}">Inscrivez vous</a></button>
            <h4 class="simple_card_text right title color_white title title_level_4">vous pourrez nous raconter vos aventure  ? </h4>
        </div>
    </section>


    <script>

        mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRkZDEiLCJhIjoiY2tvYTA5eGZuMHp3eDJvbXV1dzhnemRzdyJ9.9piPbHzUKZsQ23CDUg3U0g';
        const map = new mapboxgl.Map({
            container: 'article-map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [{{ parcour.longitude }}, {{ parcour.latitude }}], // starting position [lng, lat]
            zoom: 5 // starting zoom

        });

        const marker = new mapboxgl.Marker({
            draggable: false
        })
            .setLngLat([{{ parcour.longitude }}, {{ parcour.latitude }}])
            .addTo(map);

    </script>

{% endblock %}
