<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Administration Trotter ethic{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
            {{ encore_entry_link_tags('adminStyle') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
            {{ encore_entry_script_tags('adminStyle') }}
        {% endblock %}
    </head>
    <body>
        {% include 'part/adminpart/navbar.html.twig' %}
          <div class="container">
    
    <div class="row">
        <div class="col-2 border bg-secondary text-light">
            <p>Admin</p>
            <nav class="p-2"> 
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item mt-2 ">
                        <li class="nav-item mt-3 ">
                        <p>Gestion articles & POI & PAYS & PARCOURS </p>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_article_index') }}">Articles</a>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_interest_point_index') }}">Points d'interets</a>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_countries_controlller_index') }}">Pays</a>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_activity_index') }}">Activitées</a>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_parcours_index') }}">Parcours</a>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_carnet_voyage_index') }}">Carnets de voyage</a>
                    </li>
                         <li class="nav-item mt-3 ">
                <p>Gestion des Pages et du site</p>
                             <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_custom_page_index') }}">Gestion des pages</a>
                             <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_general_setting_index') }}">Gestion des paramètres du site</a>

                         </li>
                        <li class="nav-item mt-3 ">
                <p>Gestion catégories & status </p>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_categories_interest_index') }}">Catégories de Point d'interet</a><br>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_categories_index') }}">Catégories d'articles</a>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_activity_categories_index') }}">Catégories d'activités</a>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_parcours_categories_index') }}">Catégorie de parcours</a>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_admin_status_index') }}">Éditions des status</a>
                        </li>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-9 offset-1">
        

        {% block body %}
        {% endblock %}
              </div>
    </div>

    
        {% block footer%}
        {% include 'part/adminpart/footer.html.twig' %}

        {% endblock %}
    </body>
</html>
