<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
            {{ encore_entry_link_tags('redactstyle') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
            {{ encore_entry_script_tags('adminStyle') }}
        {% endblock %}
    </head>
    <body>
        {% include 'part/redacteurpart/navbar.html.twig' %}
          <div class="container">
    
    <div class="row">
        <div class="col-2 border bg-secondary text-light">
            <p>Rédacteur</p>
            <nav class="p-2"> 
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item mt-2 ">
                        <li class="nav-item mt-3 ">
                        <p>Mes carnets de voyage</p>
                        <a class="btn  btn-outline-warning mb-3" href="{{ path('app_redacteur_carnet_voyage_index') }}">Carnet de voyage</a>
                    </li>
                         <li class="nav-item mt-3 ">
                <p>Mon profil</p>
                             <a class="btn  btn-outline-warning mb-3" href="{{ path('app_users_profile_show', {'id': app.user.usersProfile.id})}}">Mon profil</a>

                        </li>

                </ul>
            </nav>
        </div>
        <div class="col-9 offset-1">
        

        {% block body %}
        {% endblock %}
              </div>
    </div>

    
        {% block footer%}
        {% include 'part/adminpart/footer.html.twig' %}

        {% endblock %}
    </body>
</html>
