{% extends 'admin.html.twig' %}

{% block title %}Tous les Pays{% endblock %}

{% block body %}
    <h1>Tous les Pays</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Climat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.name }}</td>
                <td>{{ country.description }}</td>
                <td>{{ country.latitude }}</td>
                <td>{{ country.longitude }}</td>
                <td>{{ country.climat }}</td>
                <td>
                    <a href="{{ path('app_admin_countries_controlller_show', {'id': country.id}) }}">show</a>
                    <a href="{{ path('app_admin_countries_controlller_edit', {'id': country.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_countries_controlller_new') }}">Create new</a>
{% endblock %}
