{% extends 'admin.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <h1>Pays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ country.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ country.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ country.description }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ country.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ country.longitude }}</td>
            </tr>
            <tr>
                <th>Climat</th>
                <td>{{ country.climat }}</td>
            </tr>
        </tbody>
    </table>

    <div id="article-map" style="height: 400px; width:400px;" ></div>



    <a href="{{ path('app_admin_countries_controlller_index') }}">back to list</a>

    <a href="{{ path('app_admin_countries_controlller_edit', {'id': country.id}) }}">edit</a>

    {{ include('admin_countries_controlller/_delete_form.html.twig') }}



    <script>


        mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRkZDEiLCJhIjoiY2tvYTA5eGZuMHp3eDJvbXV1dzhnemRzdyJ9.9piPbHzUKZsQ23CDUg3U0g';
        const map = new mapboxgl.Map({
            container: 'article-map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [{{ country.longitude }}, {{ country.latitude }}], // starting position [lng, lat]
            zoom: 2 // starting zoom
        });
        const marker = new mapboxgl.Marker({
            draggable: false
        })
            .setLngLat([{{ country.longitude }}, {{ country.latitude }}])
            .addTo(map);



    </script>
{% endblock %}
