{% extends 'admin.html.twig' %}

{% block title %}Edition des catégories de parcours{% endblock %}

{% block body %}
    <h1>Edition des catégories de parcours</h1>

    {{ include('admin_parcours_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_parcours_categories_index') }}">back to list</a>

    {{ include('admin_parcours_categories/_delete_form.html.twig') }}
{% endblock %}
