{% extends 'admin.html.twig' %}

{% block title %}Toutes les catégories de parcours {% endblock %}

{% block body %}
    <h1>Toutes les catégories de parcours </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>InternaleName</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parcours_category in parcours_categories %}
            <tr>
                <td>{{ parcours_category.id }}</td>
                <td>{{ parcours_category.name }}</td>
                <td>{{ parcours_category.internaleName }}</td>
                <td>{{ parcours_category.Description }}</td>
                <td>
                    <a href="{{ path('app_admin_parcours_categories_show', {'id': parcours_category.id}) }}">show</a>
                    <a href="{{ path('app_admin_parcours_categories_edit', {'id': parcours_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_parcours_categories_new') }}">Create new</a>
{% endblock %}
