{% extends 'admin.html.twig' %}

{% block title %}Nouvell catégorie de parcours{% endblock %}

{% block body %}
    <h1>Nouvel catégorie de parcours</h1>

    {{ include('admin_parcours_categories/_form.html.twig') }}

    <a href="{{ path('app_admin_parcours_categories_index') }}">back to list</a>
{% endblock %}
