{% extends 'admin.html.twig' %}

{% block title %}Catégorie de parcours {% endblock %}

{% block body %}
    <h1>Catégoorie de parcours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parcours_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ parcours_category.name }}</td>
            </tr>
            <tr>
                <th>InternaleName</th>
                <td>{{ parcours_category.internaleName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ parcours_category.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_parcours_categories_index') }}">Retour a la liste</a>

    <a href="{{ path('app_admin_parcours_categories_edit', {'id': parcours_category.id}) }}">edit</a>

    {{ include('admin_parcours_categories/_delete_form.html.twig') }}
{% endblock %}
