{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}


 <section class="hero" style="height: 60vh">
  <div style="height: 60vh" class="hero_full">
   <img src="{{  asset('img/Logo/Trotter.jpg') }}" alt="" srcset="">
  </div>
 </section>

 <section class="hero__container" style="height: auto">
  <article class="hero-content">
   <h1 class="title title_level_2" style="margin: 50px 0">{{ page.title }}</h1>
   <div class="text paragraph text-body title_level_4  ">
    {{ page.content|raw }}
   </div>
  </article>
 </section>



{% endblock %}
