{% extends 'base.html.twig' %}

{% block title %}H{{ page.title }}{% endblock %}

{% block body %}

 <section class="conten_article">
  <article class="article-center">
   <div class="wrapper">
    <div class="article-title">
     <h2 class="title title_level_2">{{ page.title }}</h2>
     <div class="article-text">
      {{ page.content|raw }}
     </div>
    </div>
   </div>
  </article>
 </section>

{% endblock %}
