{% extends 'base.html.twig' %}



{% block body %}
    <div class="main">

        <div class="main__container__wrapper">

            <section class="hero__container">
                <article class="hero-content">
                    <h1 class="title title_level_1">{{ controller_name }}</h1>
                    <p class="paragraph">
                        {{ generalSettings.articlesContent |raw}} </p>
                </article>
            </section>



            <section class="galery__article">

                {% for article in articles  %}
                    {% if article.status.internalName == "publish" %}
                        <div class="archive__card">
                             <img class="background_absolute" src="{{  vich_uploader_asset(article, 'imageFile') }}" alt="">
                            <div class="card_archive_content">
                                <h3 class="title title_level_3">{{ article.title }}</h3>
                                    <small class="paragraph"></small>
                                    <p class="paragraph">{{ article.content |u.truncate(30)|raw }} ...</p>
                                    <button><a href="{{ path('article_show', {'id': article.id}) }}"> lire la suite  </a>  </button>
                                    <div class="info_article">
                                        <small> ecrit par <strong>{{ article.auteur.pseudo }}</strong> </small>
                                        <small>{{ article.updateAt|date('d/m/Y') }}</small>
                                    </div>
                            </div>
                        </div>
                            {% else %}
                                <span class="paragraph"> Pas d'articles de publié </span>
                        {% endif %}
                    {% endfor %}
            </section>






            <!-- TODO   pagination-->
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>


    </div>




{% endblock %}
