{% extends 'base.html.twig' %}


{% block body %}

<script type="module">
    import Swiper from 'https://unpkg.com/swiper@8/swiper-bundle.esm.browser.min.js'

    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 5,
        spaceBetween: 50,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,

        },
    });
</script>

<section class="hero">

    <div class="hero_full">
        <img src="{{  vich_uploader_asset(article, 'HeroImageFile') }}" alt="" srcset="">
    </div>

    <div class="hero_content">
        <div class="hero_title">
            <h1 class="title title_level_2">{{ article.title | raw  }}</h1>
            <h2 class="title title_level_4">{{ article.baseline | raw  }}</h2>
        </div>
        <div class="hero_exerpt text paragraph">

          {{ article.excerpt  | raw }}

        </div>
        <div class="hero_info">
            <i class="text paragraph annotation bi bi-pin-map"> {{ article.countries.name }}</i>
            <i class="text paragraph annotation bi bi-calendar-event"> {{ article.updateAt|date('d/m/Y')}} </i>
            <i class="text paragraph annotation bi bi-thermometer-sun"> {{ article.countries.climat }}</i>
            <i class="text paragraph annotation bi bi-person"> {{ article.auteur.pseudo }}</i>
        </div>
    </div>
</section>

<section class="conten_article">
    <article class="article-center">
        <div class="wrapper">
            <div class="article-title">
              {#  <h2 class="title title_level_2">découvrez le paradis</h2> #}


                <div class="article-text text paragraph">
                    {{ article.content | raw }}
                </div>

            </div>

        </div>
    </article>

    <figure class="article-image">

        <img src="{{  vich_uploader_asset(article, 'contentImageFile') }}" alt="" srcset="">

    </figure>
</section>

<section class="intersection">
    <img src="{{  vich_uploader_asset(article, 'imageIntersectionFile') }}" alt="" srcset="">

</section>

<section class="conten_article_primary">
    <div class="texture">

        <img src="{{ asset('img/maptexture.png') }}" alt="">
    </div>


    <figure class="article-image-left">

        <img src="{{  vich_uploader_asset(article, 'content2ImageFile') }}" alt="" srcset="">

    </figure>
    <article class="article_right">

        <div class="content-article text paragraph">
            {{ article.content2 | raw }}
        </div>

    </article>


</section>
<div class="map-article-wrapper">
    <div class="map_article">
        <div id="article-map" ></div>
        <div class="map-info">
            <div class="info">
                <h6 class="title title_level_4 title_citation">Information du pays</h6>
                <div class="small-info">
                    <small  class="title title_citation">Pays: <bold class="paragraph__bold">{{ article.countries.name }}</bold> </small>

                    <small  class="title title_citation">Climat: <bold class="paragraph__bold">{{ article.countries.climat }}</bold> </small>
                </div>
                <div class="info-marker">
                    <ul>
                        {% for activiti in article.activities %}
                            <li class="activiti-select title title_citation" data-latitude=" {{ activiti.latitude }}"  data-longitude="{{ activiti.longitude }}"> activité :  {{ activiti.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="info-link">
                <h6 class="title title_level_4 title_citation">Consulter les parcours</h6>

                {% for parcour in  article.parcours  %}
                    <button class="btn link-parcours "><a href="{{ path('app_parcours_show', {'id': parcour.id}) }}">{{ parcour.parcoursCategories.name }}</a></button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<section class="conten_article_primary wrapper-card">
        <div class="title">
            <h3 class="title_level_2 title">Les offres commercials</h3>
        </div>


        <div class="wrapper_row">
            <div class="card_wrapper">
                <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="">
                <div class="card_header">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <p class="paragraph">19 jours</p>

                </div>
                <div class="card_bottom">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <button class="btn btn-card">Découvrir</button>
                </div>
            </div>

            <div class="card_wrapper">
                <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="">
                <div class="card_header">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <p class="paragraph">19 jours</p>
                </div>

                <div class="card_bottom">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <button class="btn btn-card">Découvrir</button>
                </div>

            </div>

            <div class="card_wrapper">
                <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="">
                <div class="card_header">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <p class="paragraph">19 jours</p>
                </div>

                <div class="card_bottom">
                    <h4 class="tilte title_level_4">Voyage</h4>
                    <button class="btn btn-card">Découvrir</button>
                </div>
            </div>
        </div>



        {# TODO  link doesn't work #}
        <div class="simple_card">
            <img src="{{ asset('img/landscape-ge94726678_1920.jpg') }}" alt="" class="background_absolute">
            <h4 class="simple_card_text left title color_white title_level_4">vous aussi vous voyager  ? </h4>
            <button class="btn btn-simple_card"><a href={{ path('app_register')}}">Inscrivez vous</a></button>
            <h4 class="simple_card_text right title color_white title title_level_4">vous pourrez nous raconter vos aventure  ? </h4>
        </div>
    </section>

    <section class="carousel">
        <!-- Slider main container -->
        <div class="swiper mySwiper">
            <h3 class="title title_level_2 align-center title_citation light ">Lire d'autre article</h3>
            <div class="swiper-wrapper">
                {% for article in articles %}
                    <div class="swiper-slide card_map">
                        <img src="{{ article.thumbnail }}" alt="" >
                        <div class="card_map_content">
                            <h3> {{ article.title }}</h3>
                            <small>{{ article.countries.name }}</small>
                            <p>{{ article.content }}</p>
                            <button><a href="{{ path('article_show_slug', {'slug': article.slug}) }}"> lire la suite  </a>  </button>
                            <div class="info_article">
                                <small>Écrit par {{ article.auteur.pseudo }}</small>
                                <small>{{ article.updateAt|date('d/m/Y') }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <script>

        //Ajout Carte

        mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRkZDEiLCJhIjoiY2tvYTA5eGZuMHp3eDJvbXV1dzhnemRzdyJ9.9piPbHzUKZsQ23CDUg3U0g';
        const map = new mapboxgl.Map({
            container: 'article-map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [{{ article.countries.longitude }}, {{ article.countries.latitude }}], // starting position [lng, lat]
            zoom: 5 // starting zoom
        });
        // boucle sur les activités pour affiché les markers
        {% for activiti in article.activities %}
        const popup{{ activiti.id }} = new mapboxgl.Popup({ offset:25 })
            .setHTML(' <h4> {{ activiti.name }} </h4> <br> ')
            .addClassName('popup activity')
        var marker{{ activiti.id }} = new mapboxgl.Marker()
            .setLngLat([{{ activiti.longitude }},{{ activiti.latitude }}])
            .setPopup(popup{{ activiti.id }})
            .addTo(map);
        {% endfor %}








        //au chargement complet de la page
        window.onload = () => {

            // déplacement sur les markers

            let activities = document.querySelectorAll('.activiti-select')

            // boucle sur les éléments

            for(activiti of activities ){

                let vol = {
                    bearing: (27+ (Math.random() - 0.5) * 100),
                    center: [activiti.dataset.longitude,activiti.dataset.latitude],
                    zoom: 14,
                    pitch: (30+ (Math.random() - 0.5) * 100)
                };

                activiti.addEventListener("click", function(){
                    map.flyTo(vol);
                })
            }


                }








    </script>


{% endblock %}
