{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <section class="conten_article">
        <article class="article-center">
            <div class="wrapper">
                <div class="article-title">
                    <h1 class="title title_level_2"> Profile de {{ users_profile.user.pseudo }}</h1>

                    {{ include('users_profile/_form.html.twig', {'button_label': 'Update'}) }}

                </div>

            </div> ad

        <figure class="article-image">

            {% if users_profile.avatar %}

            {% else %}
                <img src="https://i.pravatar.cc/300" alt="" srcset="">

            {% endif %}

        </figure>

    </section>


    <a href="{{ path('main') }}">Retour a l'accueil</a>


{% endblock %}
