{% extends 'base.html.twig' %}

{% block title %}UsersProfile{% endblock %}

{% block body %}

<div class="main">

    <div class="main__container__wrapper">

        <section class="conten_article">
            <article class="article-center">
                <div class="wrapper">
                    <div class="article-title">
                        <h1 class="title title_level_3"> Profile de <span class="title_citation">{{ users_profile.user.pseudo }}</span> </h1>
                        <div class="article-text">
                            <h3 class="title title_level_4">{{ users_profile.user.lastname }}</h3>
                            <h3 class="title title_level_4">{{ users_profile.user.firstname }}</h3>
                            {% if users_profile.biography  %}

                                <p class="text paragraph__bold form-btn">Biographie</p>
                                <p class="text paragraph form-btn" > {{ users_profile.biography}}  </p>

                                    {% else %}
                                        <p class="text paragraph__bold form-btn">Pas de Bio</p>
                            {% endif   %}


                                <h4 class="title title_level_4">Rôles</h4>
                            {% for role in users_profile.user.roles %}
                                {% if role == "ROLE_ADMIN" %}
                                    <span class="paragraph"> Administrateur </span>
                                {% else %}
                                    <span class="paragraph"> Scribe </span>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>

                        {% if app.user.id == users_profile.user.id %}
                    <button>

                        <a class="" href="{{ path('app_users_profile_edit', {'id': users_profile.user.id}) }}">Édition du profil</a>

                    </button>

                    {% endif %}

                </div>
            </article>

                <figure class="article-image">

                    {% if users_profile.avatar %}
                        <img src="{{  vich_uploader_asset( users_profile , 'avatarFile') }}" alt="" srcset="">

                        {% else %}
                            <img src="https://i.pravatar.cc/300" alt="" srcset="">

                    {% endif %}

                </figure>

        </section>

        {% if  users_profile.user.articles != null %}
                <h3 class="title title_level_4"> Liste des article de  {{ users_profile.user.lastname }}</h3>


            <section class="galery__article">

                {% if "ROLE_ADMIN" in app.user.roles %}

                 {% for article in users_profile.user.articles  %}
                    <div class="archive__card">
                        <img class="background_absolute" src="{{ article.thumbnail }}" alt="">
                        <div class="card_archive_content">
                            <h3 class="title title_level_3">{{ article.title }}</h3>
                            <small class="paragraph"></small>
                            <p class="paragraph">{{ article.content |u.truncate(30) }} ...</p>
                            <button><a href="{{ path('article_show', {'id': article.id}) }}"> lire la suite  </a>  </button>
                            <div class="info_article">
                                <small> écrit par <strong>{{ article.auteur.pseudo }}</strong> </small>
                                <small>{{ article.updateAt|date('d/m/Y') }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% elseif "ROLE_USER" in app.user.roles %}
                        {% for carnet in users_profile.user.carnetVoyages %}
                            <div class="archive__card">
                                <img class="background_absolute" src="{{  vich_uploader_asset(carnet, 'imageFile') }}" alt="">
                                <div class="card_archive_content">
                                    <h3 class="title title_level_3">{{ carnet.title }}</h3>
                                    <small class="paragraph"></small>
                                    <p class="paragraph">{{ carnet.content|u.truncate(30)|raw }} ...</p>
                                    <button><a href="{{ path('carnet_show', {'id': carnet.id}) }}"> lire la suite  </a>  </button>
                                    <div class="info_article">
                                        <small> ecrit par <strong>{{ carnet.users.pseudo }}</strong> </small>
                                        <small>{{ carnet.updateAt|date('d/m/Y') }}</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                {% endif %}

            </section>
        {% endif %}



    </div>
</div>





{% endblock %}
