{% extends 'admin.html.twig' %}

{% block title %}Editions des Pages{% endblock %}

{% block body %}
    <h1>Editions des Pages</h1>

    {{ include('admin_custom_page/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_custom_page_index') }}">back to list</a>

    {{ include('admin_custom_page/_delete_form.html.twig') }}
{% endblock %}
