{% extends 'admin.html.twig' %}

{% block title %}Nouvel page{% endblock %}

{% block body %}
    <h1>Nouvel page</h1>

    {{ include('admin_custom_page/_form.html.twig') }}

    <a href="{{ path('app_admin_custom_page_index') }}">back to list</a>
{% endblock %}
